<nav class="main-menu">
  <ul>
    <li><a routerLink="/auth/login"><i class="fas fa-sign-in-alt"></i> Connexion</a></li>
    <li><a routerLink="/auth/register"><i class="fas fa-user-plus"></i> Inscription</a></li>
    <li><a routerLink="/structure-medicale/dashboard"><i class="fas fa-hospital"></i> Dashboard Structures</a></li>
    <li><a routerLink="/medecin/dashboard"><i class="fas fa-user-md"></i> Dashboard Médecin</a></li>
    <li><a routerLink="/admin/dashboard"><i class="fas fa-user-shield"></i> Dashboard Admin</a></li>
    <li><a routerLink="/profil"><i class="fas fa-id-card"></i> Profil</a></li>
  </ul>
</nav>
